{% extends 'base.html' %} 

{% block title %} About National Parks {% endblock %} 

{% block content %} 

<p>
    Welcome to the National Parks app. This is a learning project that I built 
    for my software engineering bootcamp. It uses the <a target="_blank" href="https://www.nps.gov/subjects/developer/index.htm">National Park Service API</a>.     
</p>
<p>
    Tech used for this project: 
    <ul>
        <li>Python</li>
        <li>Flask</li>
        <li>SQLAlchemy</li>
        <li>HTML</li>
        <li>Bootstrap</li>
        <li>Jinja</li> 
    </ul>
</p>
<p>
    You can find the code in <a target="_blank" href="https://github.com/Eyad-A/national-parks">this Github repo</a>.
</p>

{% include 'footer.html' %}
{% endblock %}