{% extends 'base.html' %}

{% block title %}Favorite Parks for {{ user.full_name }}{% endblock %}}

{% block content %}

{% for msg in get_flashed_messages() %}
  <p>{{ msg }}</p>
{% endfor %}

<div class="container footer-fix">
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Favorite parks for {{ user.username }}</h2>
            </div>
        </div>
    </div>

    {% if user.favorite_parks %} 
    <!-- Start displaying favorite parks -->
    <div class="container my-5">
        <div class="row">
            <div class="col-md-9 mx-auto">
                <div class="row">
                    {% for park in user.favorite_parks %}
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="image-holder"> 
                            <form action="/park-details" method="post"> 
                                <input type="hidden" name="park_code" value="{{park.park_code}}">
                                <button class="results-button">
                                    <img class="search-image" src="{{ park.main_image_url }}">
                                    <div class="image-text">
                                        {{park.full_name}}
                                    </div>
                                </button>                            
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% else %} 
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>You have no favorite parks. <a href="/">Add Some!</a></p>
            </div>
        </div>
    </div>
    {% endif %} 
</div>


{% include 'footer.html' %}
{% endblock %}