{% extends 'base.html' %}

{% block title %}{{ user.full_name }}{% endblock %}}

{% block content %}

{% for msg in get_flashed_messages() %}
  <p>{{ msg }}</p>
{% endfor %}

<p>
    Favorite parks for {{ user.username }}: 
</p>

<div class="container">
    <div class="row">
        <div class="col-md-9 mx-auto">
            <div class="row">
                {% for park in user.favorite_parks %}
                <div class="col-lg-4 col-md-6 mb-3">
                    <div class="">
                        <form action="/park-details" method="post"> 
                            <input type="hidden" name="park_code" value="{{park.park_code}}">
                            <button>
                                <img class="img-thumbnail" src="{{ park.main_image_url }}">
                                <div class="">                                    
                                    {{park.full_name}}
                                </div>
                            </button>                            
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% include 'footer.html' %}
{% endblock %}