{% extends 'base.html' %}

{% block title %} Signup {% endblock %}

{% block content %}

{% for msg in get_flashed_messages() %}
<div class="alert alert-success text-center">{{ msg }}</div>
{% endfor %}

<div class="container mt-5 footer-fix">
    <div class="row">
        <div class="col-lg-12 my-3">
            <h2 class="text-center">Don't have an account? Signup below:</h2>
        </div>
    </div>
    <div class="row row justify-content-md-center">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
            <form action="/signup" method="POST" id="signup_form"> 
                {{ form.hidden_tag() }}
    
                {% for field in form if field.widget.input_type != 'hidden' %}
                {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
                {{ field(placeholder=field.label.text, class="form-control") }}
                {% endfor %}
    
                <button class="btn btn-primary btn-block btn-md">Signup</button>
            </form>
        </div>
        <div class="col-lg-4">

        </div>
    </div>
</div>

{% include 'footer.html' %}
{% endblock %} 